<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Machines Diagram</title>
    <style>
        html,body {
            margin: 0;
            height: 100%;
        }

        canvas {
            display: block;
        }
    </style>
    <script src="lib\three.js"></script>
    <script src="lib\OrbitControls.js"></script>
    <script src="lib\threex.domevents.js"></script>
    <script src="lib\THREE.meshLine.js"></script>
    <script src="lib\stats.min.js"></script>
	<script src="lib\tween.js"></script>
	<script src="lib\ColladaLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

<style>
    #leftNav {
        position: absolute;
        top: 1.5%;
        left: 1.5%;
        bottom: 1.5%;
        width: 20%;
        z-index: 100;
        display: block;
        color: aliceblue;
        height: 97vh;
        opacity: 75%;
        text-align: center;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 25px );
        -webkit-backdrop-filter: blur( 2.5px );
        border-radius: 10px;
    }

    #popup {
        position: absolute;
        right: 1.5%;
        bottom: 1.5%;
        width: 20%;
        z-index: 100;
        display: block;
        color: aliceblue;
        height: 30vh;
        opacity: 75%;
        text-align: center;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 25px );
        -webkit-backdrop-filter: blur( 2.5px );
        border-radius: 10px;
    }

    #leftNav:hover{
        opacity: 100%;
    }
    #popup:hover{
        opacity: 100%;
    }
</style>

<body>
    <canvas id="threeCanvas1" style="width: 100%; height: 100%;"></canvas>
    <script src="index.js"></script>
    <script src="gridLines.js"></script>
    <script src="kinematicModel.js"></script>
    <script src="DatabaseModel.js"></script>
    <script src="animate.js"></script>
    <div id="app">
        <div id="leftNav">
            <div style="margin-top: 10px; color: rgb(255, 255, 255); width: 80%; margin-left: 10%;"><br>
                To Add Geometries
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">x,y, Depth</span>
                    </div>
                    <input type="text" class="form-control" v-model:number="x">
                    <input type="text" class="form-control" v-model:number="y">
                    <input type="text" class="form-control" v-model:number="z">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">label</span>
                    </div>
                    <input type="text" class="form-control" placeholder="name" aria-label="Username"
                        aria-describedby="basic-addon1" v-model:value="label">
                </div>
                <button type="button" class="btn btn-secondary btn-md"
                    onclick="addMachine([model.x, model.y, model.z])">Add Machine Type</button>
                <button type="button" class="btn btn-secondary btn-md" onclick="cylAdd([model.x, model.y, model.z])">Add
                    Cylinder Type</button>
            </div>
            <div style="position: absolute; bottom: 25px; color: rgb(255, 255, 255); width: 80%; margin-left: 10%;"><br>
                <div class="input-group input-group-default mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Chosen Geometry ID</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-default" v-model="boxnumber">
                    <button class="btn btn-outline-secondary" v-on:click="deleteCube()">delete</button><br>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Start / End</span>
                    </div>
                    <input type="text" class="form-control" v-model:number="startPoint" placeholder="startPoint">
                    <input type="text" class="form-control" v-model:number="endPoint" placeholder="endPoint">
                </div><br>
                <button type="button" class="btn btn-secondary btn-md"
                    onclick="addLine(model.startPoint, model.endPoint)">addLine</button>
                <button type="button" class="btn btn-secondary btn-md"
                    onclick="shoot(model.startPoint, model.endPoint)">Shoot</button>

                <br><br>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked
                        v-model="toggled" value="true" />
                    <label class="btn btn-secondary" for="option1">Ball Mode</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off"
                        v-model="toggled" value="false" />
                    <label class="btn btn-secondary" for="option2">Line Mode</label>
                </div>
                <br><br>
                <button v-if="controlStatus" class="btn btn-primary btn-lg" onclick="switchOrbitControls()">ORBIT/adjust
                    ENABLED</button>
                <button v-else class="btn btn-primary btn-lg" onclick="switchOrbitControls()">orbit/ADJUST
                    ENABLED</button>
            </div>
        </div>
        <div id="popup" v-if="controlStatus != true">
            GEOMETRY INFO <br><br>
            <div class="input-group mb-3" style="width: 80%; margin-left: 10%;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Seleted</span>
                </div>
                <input type="text" class="form-control" placeholder="numberID" aria-label="Username"
                    aria-describedby="basic-addon1" v-model:value="boxnumber" readonly>
            </div>
            <div v-if="boxnumber != null" style="width: 80%; margin-left: 10%;">
                POSITION
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">x,y, Depth</span>
                    </div>
                    <input type="text" class="form-control" v-model:number="selX">
                    <input type="text" class="form-control" v-model:number="selY">
                    <input type="text" class="form-control" v-model:number="selZ">
                </div>

                <br>SIZE
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">width / height</span>
                    </div>
                    <input type="text" class="form-control" v-model:number="width" placeholder="width">
                    <input type="text" class="form-control" v-model:number="height" placeholder="height">
                </div>
            </div>
        </div>
    </div>
    <script>
        let model = {
            label: "",
            point: "x : " + this.x * 1 + ", y : " + this.y * 1 + ", z : " + this.z * 1,
            x: 0, y: 0, z: 0,
            boxnumber: null,
            startPoint: null,
            endPoint: null,
            controlStatus: true,
            selX: 0, selY: 0, selZ: 0,
            width: 0, height: 0,
            toggled: "true"
        };

        let vm = new Vue({
            el: "#app",
            data: model,
            watch: {
                boxnumber: function () {
                    if (this.boxnumber != null) {
                        this.selX = geomteries["cube" + this.boxnumber].position.x;
                        this.selY = geomteries["cube" + this.boxnumber].position.y;
                        this.selZ = geomteries["cube" + this.boxnumber].position.z;
                        this.width = geomteries["cube" + this.boxnumber].scale.x;
                        this.height = geomteries["cube" + this.boxnumber].scale.y;
                    }
                },
                selX: function () {
                    geomteries["cube" + this.boxnumber].position.x = this.selX;
                    texts["text" + this.boxnumber].position.x = parseInt(this.selX) + 3;
                },
                selY: function () {
                    geomteries["cube" + this.boxnumber].position.y = this.selY;
                    texts["text" + this.boxnumber].position.y = parseInt(this.selY) + 1;
                },
                selZ: function () {
                    geomteries["cube" + this.boxnumber].position.z = this.selZ;
                    texts["text" + this.boxnumber].position.z = this.selZ;
                },
                height: function () {
                    geomteries["cube" + this.boxnumber].scale.y = this.height;
                },
                width: function () {
                    geomteries["cube" + this.boxnumber].scale.x = this.width;
                    geomteries["cube" + this.boxnumber].scale.z = this.width;
                }
            },
            methods: {
                returnPoint: function () {
                    return this.point = "x : " + this.x * 1 + ", y : " + this.y * 1 + ", z : " + this.z * 1;
                },
                deleteCube: function () {
                    domEvents.removeEventListener(geomteries["cube" + this.boxnumber], 'mousedown', onDocumentMouseDown, false);
                    scene.remove(texts["text" + this.boxnumber]);
                    scene.remove(geomteries["cube" + this.boxnumber]);

                    delete texts["text" + this.boxnumber];
                    delete geomteries["cube" + this.boxnumber];


                    ///////////////////////////////
                    for (let tempLineKey of Object.keys(lines)){
                        if (tempLineKey.split(',').includes(String(this.boxnumber))){
                            scene.remove(lines[tempLineKey]);
                            delete lines[tempLineKey];
                        };
                    }
                    ///////////////////////////////
                },
                toStartPoint: function () {
                    this.startPoint = this.boxnumber
                },
                toEndPoint: function () {
                    this.endPoint = this.boxnumber
                },
            },
        })
    </script>
    <script>
        function init() {
            cylAdd([30, 0, 5], "DB 1");
            cylAdd([10, 0, 10], "DB 2");
            cylAdd([20, 10, 0], "DB 3");
            
            addMachine([5, 10, 0], "Machine 1");
            addMachine([30, 10, 15], "Machine 2");
            addMachine([20, 0, 30], "Machine 3");
            addMachine([20, 10, 50], "Machine 4");
        }

        init();

        setInterval(() => {
            removeLine();
        }, 1500);
    </script>
</body>

</html>