<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <style>
        body {
            margin: 0;
        }
        canvas {
            display: block;
        }
    </style>
    <script src="node_modules\three\build\three.js"></script>
    <script src="lib\OrbitControls.js"></script>
    <script src="lib\threex.domevents.js"></script>
    <script src="lib\THREE.meshLine.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    /* #info {
        position: absolute;
        top: 5%;
        width: 100%;
        z-index: 100;
        display: block;
        color: aliceblue;
    } */
    #leftNav {
        position: absolute;
        top: 1.5%;
        left: 1.5%;
        bottom: 1.5%;
        width: 20%;
        z-index: 100;
        display: block;
        color: aliceblue;
        height: 97vh;
        background-color: rgb(0, 0, 0);
        opacity: 50%;
        text-align: center;
    }
    #popup {
        position: absolute;
        right: 1.5%;
        bottom: 1.5%;
        width: 20%;
        z-index: 100;
        display: block;
        color: aliceblue;
        height: 30vh;
        background-color: rgb(0, 0, 0);
        opacity: 50%;
        text-align: center;
    }
</style>

<body> 
        <!-- <div id="info">
            <h2>Rotating Stars</h2><button onclick="cubeAdd()">add</button>
        </div> -->
        <!-- <script type="module"> -->
        <script src="index.js"></script>
        <script src="gridLines.js"></script>
        <script src="animate.js"></script>
    <div id="app">
        <div id="leftNav">
            <div style="margin-top: 10px; color: rgb(255, 255, 255);"><br>
                <div class="input-group" style="width: 80%; margin-left: 10%;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">x,y,z</span>
                    </div>
                    <input type="text" class="form-control" v-model:number="x">
                    <input type="text" class="form-control" v-model:number="y">
                    <input type="text" class="form-control" v-model:number="z">
                </div>
                <div class="input-group mb-3" style="width: 80%; margin-left: 10%;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">label</span>
                    </div>
                    <input type="text" class="form-control" placeholder="name" aria-label="Username"
                        aria-describedby="basic-addon1" v-model:value="label">
                </div>
                <button type="button" class="btn btn-secondary btn-md" onclick="cubeAdd([model.x, model.y, model.z])">Add Box Type</button>
                <button type="button" class="btn btn-secondary btn-md" onclick="cylAdd([model.x, model.y, model.z])">Add Cylinder Type</button>
            </div>
            <div style="position: absolute; bottom: 25px; color: rgb(255, 255, 255);"><br>
                선택된 박스번호 : <input type="text" v-model="boxnumber" style="width: 10%;">
                <button v-on:click="deleteCube()">삭제</button><br>
                <!-- <button v-on:click="toStartPoint()">시작점</button>
                <button v-on:click="toEndPoint()">종료점</button><br> -->
                정보 이동 <input type="number" v-model:number="startPoint" style="width: 20%;">
                to <input type="number" v-model:number="endPoint" style="width: 20%;"><br>
                <button onclick="addLine(model.startPoint, model.endPoint)">addLine!</button>
                <button onclick="shoot(model.startPoint, model.endPoint)">Shoot!</button><br><br>
                <button v-if="controlStatus" class="btn btn-primary btn-lg" onclick="switchOrbitControls()">ORBIT/adjust ENABLED</button>
                <button v-else class="btn btn-primary btn-lg" onclick="switchOrbitControls()">orbit/ADJUST ENABLED</button>
            </div>
        </div>
        <div id="popup" v-if="controlStatus != true">
            BOX INFO <br><br>
            <div v-if="boxnumber != null">
                <div class="input-group" style="width: 80%; margin-left: 10%;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">x,y,z</span>
                    </div>
                    <input type="text" class="form-control" v-model:number="selX">
                    <input type="text" class="form-control" v-model:number="selY">
                    <input type="text" class="form-control" v-model:number="selZ">
                </div>
                <div class="input-group mb-3" style="width: 80%; margin-left: 10%;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Seleted</span>
                    </div>
                    <input type="text" class="form-control" placeholder="name" aria-label="Username"
                        aria-describedby="basic-addon1" v-model:value="boxnumber">
                </div>
            </div>
        </div>
    </div>
    <script>
        let model = {
            label: "",
            point:  "x : " +  this.x * 1 + ", y : " +  this.y * 1 + ", z : " +  this.z * 1 , 
            x:0, y:0, z:0 , 
            boxnumber: null,
            startPoint : null,
            endPoint: null,
            controlStatus: true,
            selX: 0, selY: 0, selZ: 0,
        };

        let vm = new Vue({
            el: "#app",
            data: model,
            watch: {
                boxnumber: function() {
                    if (this.boxnumber != null) {
                        this.selX = cubes["cube" + this.boxnumber].position.x;
                        this.selY = cubes["cube" + this.boxnumber].position.y;
                        this.selZ = cubes["cube" + this.boxnumber].position.z;
                    }
                },
                selX: function(){
                    cubes["cube" + this.boxnumber].position.x = this.selX;
                    texts["text" + this.boxnumber].position.x = parseInt(this.selX) - 0.4;
                },
                selY: function(){
                    cubes["cube" + this.boxnumber].position.y = this.selY;
                    texts["text" + this.boxnumber].position.y = parseInt(this.selY) + 2;
                },
                selZ: function(){
                    cubes["cube" + this.boxnumber].position.z = this.selZ;
                    texts["text" + this.boxnumber].position.z = this.selZ;
                },
            },
            methods: {
                returnPoint: function(){
                    return this.point = "x : " +  this.x * 1 + ", y : " +  this.y * 1 + ", z : " +  this.z * 1;
                },
                deleteCube: function() {
                    domEvents.removeEventListener(cubes["cube" + this.boxnumber], 'mousedown', onDocumentMouseDown, false);
                    scene.remove(texts["text" + this.boxnumber]);
                    scene.remove(cubes["cube" + this.boxnumber]);
                },
                toStartPoint: function() {
                    this.startPoint = this.boxnumber
                },
                toEndPoint: function() {
                    this.endPoint = this.boxnumber
                },
            },
        })
    </script>
    <script>
        // test용
        cubeAdd([5,10,0], "Machine 1");
        cylAdd([30,0,5], "DB 1");
        cylAdd([10,0,10], "DB 2");
        cylAdd([20,10,0], "DB 3");
        cubeAdd([30,10,15], "Machine 2");

        cubeAdd([20,10,30], "Machine 3");
        cubeAdd([20,10,40], "Machine 4");

        setInterval(()=>{
                shoot( parseInt(Math.random()*3),parseInt(Math.random()*3 + 4))
                // addLine(parseInt(Math.random()*3),parseInt(Math.random()*3 + 5))
                // addLine(parseInt(Math.random()*3),parseInt(cubes.length - Math.random()*3 - 2))
            }, 150);

        setInterval(() => {
                removeLine();
            }, 1350);
    </script>
</body>

</html>